<div style="display: flex; flex-direction: column; justify-content:center; align-items: center">
<h1>Live chat with websockets and MongoDB</h1>
    <input type="text" id="chatBox">
    <p id="messageLogs"></p>
</div>
<script src="/socket.io/socket.io.js"></script>;
<script type="module" src="/js/chat.js"></script>
