<div>

    <ul>
        <li>Code: {{newTicket.newTicket.code}}</li>
        <li>Purchase Date Time: {{newTicket.newTicket.purchase_datetime}}</li>
        <li>Amount: {{newTicket.newTicket.amount}}</li>
        <li>Purchaser: {{newTicket.newTicket.purchaser}}</li>
    </ul>

</div>