<div style="display: flex; flex-direction: column; align-items: center;"> 
    <h1>Productos traidos por websocket</h1>
    <div id="productsList"></div>
</div>
<script src="/socket.io/socket.io.js"></script>;
<script src="/js/realTimeProducts.js"></script>