<form method="post" action="http://localhost:8080/sessions/changepassword/{{token}}">
  <label for="new-password">Enter your new password</label>
  <input
    type="password"
    name="newPassword"
    id="new-pass"
  />
  <button type="submit">Send</button>
</form>